@model IEnumerable<DolphinFx.Models.DatabaseDetail>

@{
    ViewData["Title"] = "Index";
}
<style>
    .table{
        text-align: center;
        margin: 0 auto;
    }
      body {
      height: 100%;
      margin: 0;
     
      justify-content: center; /* Horizontal centering */
      align-items: center;    /* Vertical centering */
      text-align: center;     /* Centers text and table content */
    }
    .button-container {
      text-align: right; /* Align buttons to the right */
      margin-right: auto; /* Optional margin to add space from the right */
    }
</style>
<h1>Databases</h1>

<p class="button-container">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <a class="btn btn-success" asp-action="ExportToExcel">Export to Excel</a>
</p>
<table class="table"  style="width:100%;">
    <thead>
        <tr>
            <th>
                DataSource
            </th>
            <th>
                User Name
            </th>
            <th>
                Password
            </th>
            <th>
                Client Name
            </th>
            <th>
                Environment Name
            </th>
            <th>
                Application Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datasource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Environments.EnvironmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.ApplicationName)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.DbId">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.DbId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DbId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<!-- Bootstrap Modal for Success Message -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (TempData["SuccessMessage"] != null)
                {
                    @TempData["SuccessMessage"]
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    

    <script>
        $(document).ready(function () {
            // Check if there is a success message
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                $("#successModal").modal("show");
            }
        });
    </script>
}