@model IEnumerable<DolphinFx.Models.DatabaseDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datasource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Environments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datasource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Environments.EnvironmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.ApplicationName)
            </td>
            <td>
                <a class="btn btn-primary yellow" asp-action="Edit" asp-route-id="@item.DbId">Edit</a> |
                <a class="btn btn-primary blue" asp-action="Details" asp-route-id="@item.DbId">Details</a> |
                <a class="btn btn-primary Red" asp-action="Delete" asp-route-id="@item.DbId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
