@model IEnumerable<DolphinFx.Models.UserRole>

@{
    ViewData["Title"] = "Index";
}

<h1>User Roles Table</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <a class="btn btn-success" asp-action="ExportToExcel">Export to Excel</a> <!-- Export to Excel button -->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleDescription)
            </td>
            <td>
                <a class="btn btn-primary yellow" asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                <a class="btn btn-primary blue" asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                <a class="btn btn-primary red" asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Success Message -->
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

