@model IEnumerable<DolphinFx.Models.Application>

@{
    ViewData["Title"] = "Index";
}

<h1>Application Table</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <a class="btn btn-success" asp-action="ExportToExcel">Export to Excel</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDescription)
            </td>
            <td>
                <a class="btn btn-primary yellow" asp-action="Edit" asp-route-id="@item.ApplicationID">Edit</a> |
                <a class="btn btn-primary blue" asp-action="Details" asp-route-id="@item.ApplicationID">Details</a> |
                <a class="btn btn-primary red" asp-action="Delete" asp-route-id="@item.ApplicationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
