@model IEnumerable<DolphinFx.Models.Environment>

@{
    ViewData["Title"] = "Index";
}

<h1>Environments Table</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <a class="btn btn-success" asp-action="ExportToExcel">Export to Excel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnvironmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnvironmentDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnvironmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnvironmentDescription)
            </td>
            <td>
                <a class="btn btn-primary yellow" asp-action="Edit" asp-route-id="@item.EnvironmentID">Edit</a> |
                <a class="btn btn-primary blue" asp-action="Details" asp-route-id="@item.EnvironmentID">Details</a> |
                <a class="btn btn-primary red" asp-action="Delete" asp-route-id="@item.EnvironmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
