@model DolphinFx.Models.ApplicationDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="details-container">
    <h4>ApplicationDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Environment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Environment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
    </dl>
</div>
<div class="details-actions">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
