@model DolphinFx.Models.ApplicationDetails
<dl class="row">
    <dt class="col-sm-6">Client Name</dt>
    <dd class="col-sm-6">@Html.DisplayFor(model => model.Client.ClientName)</dd>
    <dt class="col-sm-6">Environment Name</dt>
    <dd class="col-sm-6">@Html.DisplayFor(model => model.Environments.EnvironmentName)</dd>
    <dt class="col-sm-6">Application Name</dt>
    <dd class="col-sm-6">@Html.DisplayFor(model => model.Applications.ApplicationName)</dd>
    <dt class="col-sm-6">Link</dt>
    <dd class="col-sm-6"><a href="@Model.Link" target="_blank">Go to Link</a></dd>
    <dt class="col-sm-6">Path</dt>
    <dd class="col-sm-6 path-text" >@Html.DisplayFor(model => model.Path)</dd>
    <dt class="col-sm-6">User</dt>
    <dd class="col-sm-6">@Html.DisplayFor(model => model.User)</dd>
    <dt class="col-sm-6">User Role</dt>
    <dd class="col-sm-6">@Html.DisplayFor(model => model.UserRole.Role)</dd>
    <dt class="col-sm-6">Password</dt>
    <dd class="col-sm-6">@Html.DisplayFor(model => model.Password)</dd>
</dl>